@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis CSS personalizadas */
:root {
  --phoenix-magenta: #A70240;
  --phoenix-black: #000000;
  --phoenix-white: #ffffff;
}

/* Fontes */
@font-face {
  font-family: 'Axiforma';
  src: url('https://raw.githubusercontent.com/phoenix-droid-art/phoenix-landing-page/refs/heads/main/src/fonts/Axiforma-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Axiforma';
  src: url('https://raw.githubusercontent.com/phoenix-droid-art/phoenix-landing-page/refs/heads/main/src/fonts/Axiforma-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('https://raw.githubusercontent.com/phoenix-droid-art/phoenix-landing-page/refs/heads/main/src/fonts/AcuminVariableConcept.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
